* {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plex';
}

@font-face {
    font-family: 'Plex';
    src: url('../Assets/Fonts/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: lightgray;
}

/*Containers style*/
.Contenedor {
    position: relative;
}

.Contenedor.Productos, .Contenedor.Principal, .Contenedor.Proyectos {
    width: 100%;
    height: auto;
    min-height: 700px;
}

.Contenedor.Principal {
    background-image: url('../Assets/Images/Banner.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.Contenedor.Calculadora {
    padding: 4%;
    width: 100%;
    height: auto;
    min-height: 500px;
    background-color: rgba(0, 136, 52);
}

.Contenedor.Nosotros {
    width: 100%;
    height: auto;
    min-height: 400px;
    background-image: url('../Assets/Images/paneles2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4%;
}

.Contenedor.Proyectos {
    background-color: white;
    padding: 55px;
}

.Contenedor.Productos {
    padding: 55px;
    background-color: rgb(0, 136, 51);
}

.Contenedor.Contacto {
    padding: 55px;
    background-color: black;
    min-height: 300px;
}

.Contenedor .PantallaNosotros {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
}

.Contenedor .Pantalla {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.Contenedor .Contenido {
    position: relative;
    text-align: center;
}

.Contenido .MainLogo {
    position: relative;
    text-align: center;
    padding: 10%;
}

.TitleCalc {
    color: white;
    font-size: 2vw;
}

.Separador {
    width: 3%;
    border: 2px solid white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

h1.NosotrosTitulos, h1.ProyectosTitulos, h1.ProductosTitulos {
    font-size: 4vw;
}

h3.NosotrosTitulos {
    font-size: 2vw;
}

h1.NosotrosTitulos, h3.NosotrosTitulos {
    width: 80%;
    text-align: center;
    margin: auto;
}

h2.ProductosSubtitulos {
    color: white;
    font-size: 2.5vw;
    margin-top: 25px;
    margin: auto;
    margin-bottom: 25px;
    text-align: left;
    width: 80%;
    padding: 25px;
}

.ProductosTitulos {
    color: white;
    margin-bottom: 25px;
}

.Productos .Producto {
    position: relative;
    display: flex;
    width: 80%;
    height: auto;
    padding: 25px;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.Producto .Descripcion, .Producto .ImagenProd {
    position: relative;
    padding: 25px;
}

.Producto .Descripcion {
    width: 65%;
}

.Producto .ImagenProd {
    width: 35%;
}

.ImagenProd img {
    width: 100%;
    height: auto;
}

.Caracteristicas, .Name {
    color: white;
    margin-bottom: 20px;
}

.Name {
    font-size: 3vw;
    text-align: left;
}

.Caracteristicas {
    text-align: justify;
    font-size: 1.2vw;
}

.ProyectosTitulos {
    color: rgb(0, 136, 51);
    margin-bottom: 100px;
}

.NosotrosTitulos {
    color: white;
}

.ContProyectos {
    position: relative;
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ContProyectos .Proyecto {
    position: relative;
    width: 300px;
    height: 200px;
}

.ContProyectos .Proyecto img, .ContProyectos .Proyecto .Info {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ContProyectos .Proyecto:hover .Info {
    opacity: 1;
    cursor: default;
}

.ContProyectos .Proyecto .Info {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    color: white;
    padding: 15px;
    opacity: 0;
    -o-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
}

.Proyecto .Info .NombreProyecto {
    font-size: 1.3vw;
    margin: 15px;
}

.Proyecto .Info .DescProyecto {
    font-size: 1vw;
    margin: 25px;
    text-align: justify;
}

/*Forms*/

.FormularioCalc {
    position: relative;
    border: 2px solid white;
    padding: 20px;
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.FormularioCalc input[type="text"] {
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    padding: 5px;
    font-size: 16px;
}

button.btnCalc {
    background-color: transparent;
    border: 2px solid white;
    padding: 15px 55px;
    font-size: 16px;
    color: white;
}