* {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plex';
}

@font-face {
    font-family: 'Plex';
    src: url('../Assets/Fonts/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: lightgray;
}

/*Containers style*/
.Contenedor {
    position: relative;
}

.Contenedor.Productos, .Contenedor.Principal, .Contenedor.Proyectos {
    width: 100%;
    height: auto;
    min-height: 700px;
}

.Contenedor.Principal {
    background-image: url('../Assets/Images/Banner.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.Contenedor.Calculadora {
    padding: 4%;
    width: 100%;
    height: auto;
    min-height: 500px;
    background-image: url('../Assets/Images/Banner.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.Contenedor.Nosotros {
    width: 100%;
    height: auto;
    min-height: 400px;
    background-image: url('../Assets/Images/paneles2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5%;
}

.Contenedor.Proyectos {
    background-color: white;
    padding: 55px;
}

.Contenedor.Productos {
    padding: 55px;
    background-color: rgb(0, 136, 51);
}

.Contenedor .PantallaNosotros {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
}

.Contenedor .PantallaVerde {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 500px;
    background-color: rgb(0, 136, 51, 1);
}

.Contenedor .Pantalla {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 700px;
    background-color: rgba(0, 0, 0, 0.5);
}

.Contenedor .Contenido {
    position: relative;
    text-align: center;
}

.Contenido .MainLogo {
    position: relative;
    text-align: center;
    padding: 10%;
}

.TitleCalc {
    color: white;
    font-size: 2vw;
}

.Separador {
    width: 3%;
    border: 2px solid white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

h1.NosotrosTitulos, h1.ProyectosTitulos, h1.ProductosTitulos {
    font-size: 4vw;
}

h3.NosotrosTitulos {
    font-size: 2vw;
}

.ProductosTitulos {
    color: white;
}

.ProyectosTitulos {
    color: rgb(0, 136, 51);
    margin-bottom: 100px;
}

.NosotrosTitulos {
    color: white;
}

.ContProyectos {
    position: relative;
    display: flex;
    width: 100%;
    margin: auto;
    background-color: green;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ContProyectos .Proyecto {
    width: 25%;
    height: auto;
    max-height: 300px;
}

/*Forms*/

.FormularioCalc {
    position: relative;
    border: 2px solid white;
    padding: 20px;
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.FormularioCalc input[type="text"] {
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    padding: 5px;
    font-size: 16px;
}

button.btnCalc {
    background-color: transparent;
    border: 2px solid white;
    padding: 15px 55px;
    font-size: 16px;
    color: white;
}