* {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
    color: white;
}

.cont {
    position: relative;
    height: 800px;
    width: 100%;
}

.a {
    background-color: red;
}

.b {
    background-color: green;
}

.c {
    background-color: blue;
}

#container
{
    height:2000px;    
}

#container DIV
{ 
    margin:50px; 
    padding:50px; 
    background-color:pink; 
}

.hideme
{
    opacity:0;
}